.loginBody {
margin-left: 30%;
margin-top: 10%;
}
input {
  width: 45%;
  height: 45px;
  opacity: 1;
  border: solid 1px #979797;

}
button {
margin-left: 10%;
width: 25%;
}

@media only screen and (max-width:800px) {
  input {
    /*visibility: visible-sm;*/
    width: 80%;
    height: 45px;
    opacity: 1;
    border: solid 1px #979797;

  }
  .loginBody {
  margin-left: 20%;
  margin-top: 10%;
  }
  button {
    visibility:visible-xs;
  margin-left: 30%;
  }
}
