<div class="container-fluid">
  <nav class="navbar">
    <div class="container-fluid">
      <div class="navbar-header">
        <h2><img src="./assets/pinup.png" />PinUp</h2>
      </div>
      <ul class="nav navbar-nav" style="float:right;">
        <li>
          <h4>{{data}}</h4></li>
        <li>
          <h4>{{myAdmin}} </h4></li>
        <li style=" margin-top:18%" class="setting dropdown">
          <span class="glyphicon glyphicon-cog  dropdown-toggle" data-toggle="dropdown">
          </span>
          <ul class="dropdown-menu">
            <li id="menus"><a (click)="onLogout()" style="width:80px">logout</a></li>
          </ul>
        </li>

      </ul>
    </div>
  </nav>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="leftSide">
      <div class="sidebar col-md-2 col-sm-2 col-xs-2 col-lg-2">
        <h4 class="Home">Home</h4>
        <hr>
        <div class="Card">
          <div *ngFor="let cards of Card" let i="index" class="dropdown">
            <span id="cName">{{ cards.topic }}</span><span id="caretList" [ngClass]="cards.completed" class="dropdown-toggle" data-toggle="dropdown">
              <b  class="caret" ></b></span>
            <ul class="dropdown-menu">
              <li><a data-toggle="modal" data-target="#myModal">Edit</a></li>
              <li><a (click)="removeTopic(cards.topicID)">Delete</a></li>
            </ul>
            <div class="modal fade" id="myModal" role="dialog">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-body">
                    <form [formGroup]="myForm1" (ngSubmit)="submit(cards.topicID)">

                      <div class="form-group">

                        <input type="text" formControlName="topic" class="form-control" value="">
                      </div>
                      <button type="submit"  class="btn btn-info" >submit</button>

                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <form (submit)="addToCard($event)">
            <div style="display: inline-block">
              <input [(ngModel)]="topic" id="name" name="topic" placeholder="Category +" />
              <button type="submit" style='visibility: hidden;'>+</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="rightSide">
      <div class="col-md-10 col-sm-10 col-xs-10 col-lg-10">
        <app-category [Category]='Card'></app-category>
      </div>
    </div>
  </div>
</div>
