.card {
  width: 25%;
  height: 35%;
  border-radius: 3px;
  opacity: 1;
  background-color: #D8D8D8;
  box-shadow: 1 1 2 0 rgba(0, 0, 0, 50%);
}
.ion-ios-list-outline {
  opacity: 1;
  cursor: pointer;
  text-align: center;
  color: #1ABAD2;
  font-family: Ionicons;
  font-size: 25px;
  padding-top: 40%;
}
p.listName {

color: #1ABAD2;
font-family: LucidaGrande-Bold;
font-size: 15px;
}
.mylist {
  text-align: center;
width: 0%;
margin-left: 25%;
cursor: pointer;
overflow: hidden;

}
.cName:hover {
  color: #1ABAD2;
}
